<% include ./partials/header %>

<div class="container">
	<header class="jumbotron">
			<div>
				<h4><%= blog.title %> </h4>
				<figure>
					<img src="<%= blog.image %>">
					<figcaption><%= blog.created.toDateString() %> </figcaption>
				</figure>
				<br>
				<p class="description"><%- blog.body %> </p>
				
				<a type="button" class="btn btn-md btn-primary" href="/blogs/<%= blog._id %>/edit" >Edit  </a>
				
				<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                	<button class="btn btn-danger">Delete</button>
            	</form>
            	
			</div>
	</header>
</div>

<% include ./partials/footer %>